    <div id='animal_add'>
        <h3>Add a pet to this business</h3>
        <form action='/animal/add' method='POST' id='animal_form_add'>
            <input type='text' name='name' placeholder='Animal Name' aria-label='Pet Name' required><br>
            <input type='text' name='species' placeholder='Species (dog/cat)' aria-label='Species' required><br>
            <input type='text' name='breed' placeholder='Breed' aria-label='Breed'><br>
            <input type='text' name='birthday' placeholder='Birthday' aria-label='Birthday'><br>
            <input type='text' name='vet' placeholder='Vet info' aria-label='Vet'><br>
            <input type='text' name='note' placeholder='Notes' aria-label='Note'><br>
            <p>Enter information for this pet's human.</p>
            <input type='text' name='fullname' placeholder='Pet Owner Fullname' aria-label='Pet Owner Fullname' required><br>
            <input type='text' name='street' placeholder='Street' aria-label='Street' required><br>
            <input type='text' name='city' placeholder='City' aria-label='City'><br>
            <input type='text' name='state' placeholder='Birthday' aria-label='Birthday'><br>
            <input type='text' name='zip' placeholder='Vet info' aria-label='Vet'><br>
            <input type='text' name='phone' placeholder='Notes' aria-label='Note'><br>
            <input type='email' name='email' placeholder='Notes' aria-label='Note'><br>
            <input type='submit' value='Add Pet'><br>
        </form>
    </div>