    <div id='animal_add'>
        <h3>Add a pet to this business</h3>
        <form action='/animal/add' method='POST' id='animal_form_add'>
            <div class='form-group'>
                <input class='form-control' type='text' name='name' placeholder='Animal Name' aria-label='Pet Name' required>
            </div>
            <div class='form-group'>
                <input class='form-control' type='text' name='species' placeholder='Species (dog/cat)' aria-label='Species' required>
            </div>
            <div class='form-group'>
                <input class='form-control' type='text' name='breed' placeholder='Breed' aria-label='Breed'>
            </div>
            <div class='form-group'>
                <input class='form-control' type='text' name='birthday' placeholder='Birthday' aria-label='Birthday'>
            </div>
            <div class='form-group'>
                <input class='form-control' type='text' name='vet' placeholder='Vet info' aria-label='Vet'>
            </div>
            <div class='form-group'>
                <input class='form-control' type='text' name='note' placeholder='Notes' aria-label='Note'>
            </div>
            <p>Enter information for this pet's human.</p>
            <div class='form-group'>
                <input class='form-control' type='text' name='fullname' placeholder='Pet Owner Fullname' aria-label='Pet Owner Fullname' required>
            </div>
            <div class='form-group'>
                <input class='form-control' type='text' name='street' placeholder='Street' aria-label='Street' required>
            </div>
            <div class='form-group'>
                <input class='form-control' type='text' name='city' placeholder='City' aria-label='City' required>
            </div>
            <div class='form-group'>
                <input class='form-control' type='text' name='state' placeholder='State' aria-label='State' required>
            </div>
            <div class='form-group'>
                <input class='form-control' type='text' name='zipcode' placeholder='Zip' aria-label='Zip' required>
            </div>
            <div class='form-group'>
                <input class='form-control' type='text' name='phone' placeholder='Phone' aria-label='Phone' required>
            </div>
            <div class='form-group'>
                <input class='form-control' type='email' name='email' placeholder='email' aria-label='Email'>
            </div>
            <div class='form-group'>
                <input class='btn btn-primary' type='submit' value='Add Pet'>
            </div>
        </form>
    </div>