    <div id='business_add'>
        <form action='/business/add' method='POST' id='business_form_add'>
            <input type='text' name='business_name' placeholder='Business Name' aria-label='Business Name' required><br>
            <input type='text' name='street' placeholder='Street' aria-label='Street' required><br>
            <input type='text' name='city' placeholder='City' aria-label='City' required><br>
            <input type='text' name='state' placeholder='State' aria-label='State' required><br>
            <input type='text' name='zip' placeholder='Zip' aria-label='Zipcode' required><br>
            <input type='text' name='phone' placeholder='Phone' aria-label='Phone Number'><br>
            <input type='text' name='url' placeholder='URL' aria-label='URL'><br>
            <input type='text' name='license' placeholder='License' aria-label='Business License'><br>
            <input type='submit' value='Add Business Details'><br>
        </form>
    </div>