    <div id='business_update'>
        <form action='/business/update' method='POST' id='business_form_update'>
            <div class='form-group'>
                <input class='form-control' 
                       type='text' 
                       name='business_name' 
                       placeholder='Business Name' 
                       aria-label='Business Name' 
                       required value='{{ current_user.business.business_name }}' 
                       disabled>
            </div>
            <div class='form-group'>
                <input class='form-control' 
                       type='text' 
                       name='street' 
                       placeholder='Street' 
                       aria-label='Street' 
                       required value='{{ current_user.business.business_street }}' 
                       disabled>
            </div>
            <div class='form-group'>
                <input class='form-control'
                       type='text' 
                       name='city' 
                       placeholder='City' 
                       aria-label='City' 
                       required value='{{ current_user.business.business_city }}' 
                       disabled>
            </div>
            <div class='form-group'>
                <input class='form-control'
                       type='text' 
                       name='state' 
                       placeholder='State' 
                       aria-label='State' 
                       required value='{{ current_user.business.business_state }}' 
                       disabled>
            </div>
            <div class='form-group'>
                <input class='form-control'
                       type='text' 
                       name='zip' 
                       placeholder='Zip' 
                       aria-label='Zipcode' 
                       required value='{{ current_user.business.business_zip }}' 
                       disabled>
            </div>
            <div class='form-group'>
                <input class='form-control'
                       type='text' 
                       name='phone' 
                       placeholder='Phone' 
                       aria-label='Phone Number' 
                       value='{{ current_user.business.business_phone }}' 
                       disabled>
            </div>
            <div class='form-group'>
                <input class='form-control'
                       type='text' 
                       name='url' 
                       placeholder='URL' 
                       aria-label='URL' 
                       value='{{ current_user.business.url }}' 
                       disabled>
            </div>
            <div class='form-group'>
                <input class='form-control'
                       type='text' 
                       name='license' 
                       placeholder='License' 
                       aria-label='Business License' 
                       value='{{ current_user.business.license }}' 
                       disabled>
            </div>
            <div class='form-group'>
                <input class='form-control' type='submit' value='Edit Business Details'>
            </div>
        </form>
    </div>