    <div id='business_update' class='hidden'>
        <h3>Update the details of your business</h3>
        <form id='business_form_update'>
            <div class='form-group'>
                <input class='form-control' 
                       type='text' 
                       name='business_name' 
                       placeholder='Business Name' 
                       aria-label='Business Name' 
                       required
                       >
            </div>
            <div class='form-group'>
                <input class='form-control' 
                       type='text' 
                       name='street' 
                       placeholder='Street' 
                       aria-label='Street' 
                       required
                       >
            </div>
            <div class='form-group'>
                <input class='form-control'
                       type='text' 
                       name='city' 
                       placeholder='City' 
                       aria-label='City' 
                       required
                       >
            </div>
            <div class='form-group'>
                <input class='form-control'
                       type='text' 
                       name='state' 
                       placeholder='State' 
                       aria-label='State' 
                       required
                       >
            </div>
            <div class='form-group'>
                <input class='form-control'
                       type='text' 
                       name='zip' 
                       placeholder='Zip' 
                       aria-label='Zipcode' 
                       required
                       >
            </div>
            <div class='form-group'>
                <input class='form-control'
                       type='text' 
                       name='phone' 
                       placeholder='Phone' 
                       aria-label='Phone Number' 
                       >
            </div>
            <div class='form-group'>
                <input class='form-control'
                       type='text' 
                       name='url' 
                       placeholder='URL' 
                       aria-label='URL' 
                       >
            </div>
            <div class='form-group'>
                <input class='form-control'
                       type='text' 
                       name='license' 
                       placeholder='License' 
                       aria-label='Business License' 
                       >
            </div>
            <div class='form-group'>
                <input class='btn btn-primary' type='submit' value='Submit changes'>
            </div>
        </form>
    </div>