    <div id='date_filter' class='p-b-1'>
        <form class='form-inline' action='/reservation/date' method='GET' id='date_form_filter'>
            <div class='form-group'>
                <label>Select date to view reservations.</label>
                <input class='form-control' 
                       type='date' name='date_filter' 
                       placeholder='Date Filter' 
                       aria-label='Date Filter'
                        {% if session['start_date'] is defined %}
                            value='{{ session['start_date'] }}'
                        {% endif %}
                       >
            </div>
            <div class='form-group'>
                <input class='btn btn-primary' type='submit' value='Filter on Date'>
            </div>
        </form>
    </div>