    <div id='person_add_to_animal' class='hidden'>
        <h3>Add a pet to this business</h3>
        <form action='/person/add/{{ animal.id }}' method='POST' id='person_form_add_to_animal'>
            <p>Enter information for an additional human for this pet.</p>
            <div class='form-group'>
                <input class='form-control' type='text' name='fullname' placeholder='Pet Owner Fullname' aria-label='Pet Owner Fullname' required>
            </div>
            <div class='form-group'>
                <input class='form-control' type='text' name='street' placeholder='Street' aria-label='Street' required>
            </div>
            <div class='form-group'>
                <input class='form-control' type='text' name='city' placeholder='City' aria-label='City' required>
            </div>
            <div class='form-group'>
                <input class='form-control' type='text' name='state' placeholder='State' aria-label='State' required>
            </div>
            <div class='form-group'>
                <input class='form-control' type='text' name='zipcode' placeholder='Zip' aria-label='Zip' required>
            </div>
            <div class='form-group'>
                <input class='form-control' type='text' name='phone' placeholder='Phone' aria-label='Phone' required>
            </div>
            <div class='form-group'>
                <input class='form-control' type='email' name='email' placeholder='email' aria-label='Email'>
            </div>
            <div class='form-group'>
                <input class='btn btn-primary' type='submit' value='Add Person'>
            </div>
        </form>
    </div>