    <div id='reservation_add'>
        <h3>Make a reservations for this dog to receive a service.</h3>
        <form action='/reservation/add' method='POST' id='reservation_form_add'>
            <select class='form-control' name='animal_id'>
                {% for animal in current_user.business.animals %}
                    <option value='{{ animal.id }}'>
                        {{ animal.name }}
                    </option>
                {% endfor %}
            </select>
            <div class='radio'>
                {% for service in current_user.business.services %}
                    <label>
                        <input class='service-radio' 
                               type='radio' 
                               name='service_id' 
                               aria-label='{{ service.description }}' 
                               id='service_id{{ service.id }}' 
                               value='{{ service.id }}'
                               data-service-cost='{{ service.cost }}'>
                        {{ service.description }}
                    </label>
                {% endfor %}
            </div>
            <div class='form-group'>
                <input id='cost' class='form-control' type='text' name='cost' placeholder='Cost' aria-label='Cost' required>
            </div>
            <div class='form-group'>
                <input class='form-control' type='datetime-local' name='start_date' placeholder='Start Date' aria-label='Start Date' required>
            </div>
            <div class='form-group'>
                <input class='form-control' type='datetime-local' name='end_date' placeholder='End Date' aria-label='End Date' required>
            </div>
            <div class='form-group'>
                <input class='form-control' type='text' name='note' placeholder='Note' aria-label='Note'>
            </div>
            <div class='form-group'>
                <input class='btn btn-primary' type='submit' value='Add Reservation'>
            </div>
        </form>
    </div>