    <div id='reservation_add'>
        <h3>Make a reservations for this dog to receive a service.</h3>
        <form action='/service/add' method='POST' id='service_form_add'>
            <div class='form-group'>
                <input class='form-control' type='text' name='description' placeholder='Description' aria-label='Description' required>
            </div>
            <div class='form-group'>
                <input class='form-control' type='text' name='cost' placeholder='Cost' aria-label='Cost' required>
            </div>
            <div class='form-group'>
                <input class='btn btn-primary' type='submit' value='Add Service'>
            </div>
        </form>
    </div>