{% extends 'base.html' %}

{% block title %}Pet Detail{% endblock %}

{% block content %}
<div class='page-header'>
    <h1>Pets</h1>
</div>

<div class='row rowAlpha'>
    <div class='col-xs-8'>
        {% for pet in current_user.business.animals %}
            <p>
                <a href='/animal/{{ pet.id }}'>{{ pet.name }}</a>, 
                {{ pet.people[0].fullname }}
            </p>
        {% endfor %}
        {% if current_user.business.animals is defined %}<p class='lead'>You have not yet added any pets.</p>{% endif %}
    </div>
    <div class='col-xs-4'>
<!-- nothing at the moment--> 
    </div>
</div>

{% endblock %}