{% extends 'base.html' %}

{% block title %}Pet Detail{% endblock %}

{% block content %}
    <h1>{{ current_user.business.business_name }}</h1>
    <h2>{{ animal.name }}</h2>


   

    <div id='animal_detail'>
        {% for person in animal.people %}
            <p>{{ person.fullname }}</p>
        {% endfor %}
    </div>
    <div id='animal_others'>
        <h3>Other pets in household</h3>
        {% for other in other_animals %}
            {% if animal.id != other.id %}
                <p>{{ other.name }}</p>
            {% endif%}
        {% endfor %}
    </div>



{% endblock %}