<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/js/js.js"></script>
</head>
<body>

    {% if current_user.is_authenticated %}
        Welcome {{ current_user.first_name }}!
        <button type='button' id='btn_logout'>
            <a href='/logout'>Logout</a>
        </button>
    {% endif %}
    
    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}

    {% block content %}{% endblock %}
</body>
</html>