<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <script src='https://code.jquery.com/jquery.js'></script>
    <script src='/static/js/js.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js'></script>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
    <link href='/static/css/style.css' rel='stylesheet' type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <nav class='navbar navbar-inverse navbar-fixed-top'>
        <div class='container'>
            <div class='navbar-header'>
                <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
                <a class='navbar-brand' href='/business'>Dogwalker</a>
            </div>
            <div id='navbar' class='navbar-collapse collapse'>
                <!--@todo create global function to test?? -->
                {% if current_user.is_authenticated and current_user.business.business_name is defined %}
                    <ul class='nav navbar-nav whiteText'>
                        <li><a href='/business'>{{ current_user.business.business_name }}</a></li>
                        <li><a href='/animal'>Pets</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reservations <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href='/reservation'>Overview</a></li>
                                <li><a href='/reservation/map'>Map View</a></li>
                                <li><a href='/reservation/timeline'>Timeline View</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
                <form  action='/login' method='POST' class='navbar-form navbar-right'>
                    {% if current_user.is_authenticated %}
                        <div class='form-group whiteText p-r-2'>
                            Welcome {{ current_user.first_name }}!
                        </div>
                        <button type='button' id='btn_logout' class='btn'>
                        <a href='/logout'>Logout</a>
                        </button>
                    {% else %}
                        <div class='form-group'>
                            <input type='text' name='user_name' placeholder='Username' class='form-control' aria-label='Username' required>
                        </div>
                        <div class='form-group'>
                            <input type='password'  name='password' placeholder='Password' class='form-control' aria-label='Password' required>
                        </div>
                        <button type='submit' class='btn btn-success'>Log Me In!</button>
                    {% endif %}
                </form>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>


<div class='container'>
    {% block nav %}{% endblock %}
    
    {% for message in get_flashed_messages() %}
        <div class='row bg-warning rounded'>
            <p class='lead p-tlr-2'>{{ message }}</p>
        </div>
        <br>
    {% endfor %}

    {% block content %}{% endblock %}    
</div>
    {% block scripts %}{% endblock %}
</body>
</html>