{% extends 'base.html' %}

{% block title %}Business Detail{% endblock %}

{% block content %}
<div class='page-header'>
        <div class='btn-group pull-right' role='group' aria-label=''>
            <button id='bizToolbarEdit' 
                    type='button' 
                    class='btn btn-default' 
                    aria-label='Edit Details' 
                    data-target-div-id='business_update'>Edit Business Details</button>
            <button id='bizToolbarAddPet' 
                    type='button' 
                    class='btn btn-default' 
                    aria-label='Add Pet' 
                    data-target-div-id='animal_add'>Add pet</button>
            <button id='bizToolbarAddService' 
                    type='button' 
                    class='btn btn-default' 
                    aria-label='Add Service'   
                    data-target-div-id='service_add'>Add Service</button>
        </div>
        <h1>Business Details</h1>
</div>
<div class='row'>
    <div class='col-xs-8'>
            {% include '/forms/animal_add.html' %}
            {% if current_user.business.animals %}
                <h3>My Pets</h3>
                <div id='animal_list'>
                    {% for pet in current_user.business.animals %}
                        <p>
                            <a href='/animal/{{ pet.id }}'>{{ pet.name }}</a>, 
                            {{ pet.people[0].fullname }}
                        </p>
                    {% endfor %}
                </div>
            {% else %}
                <p class='lead'>You have not yet added any pets.</p>
            {% endif %}
    </div>
    <div class='col-xs-4'>
        {% include '/forms/business_update.html' %}
        {% include '/forms/service_add.html' %}
        {% if current_user.business.services %}
            <ul>
                {% for service in current_user.business.services %}
                    <li>{{ service.description }}, ${{ service.cost }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>



{% endblock %}