{% extends 'base.html' %}

{% block title %}Dogwalker{% endblock %}

{% block content %}

<div class='row'>
    <div class='col-md-8'>
        <p>
            Dogwalker knows that you have fun taking care of pets. Not working in the office. Use this application to handle the basic administration tasks for your pet care business. And spend more time with your furry clients.
        </p>
        <p>
            Once you have entered the details of your business and the pets you care for, you will be able to start making reservations.
        </p>
    </div>
    <div class='col-md-4'>
        {% include '/forms/registration.html' %}
    </div>
</div>
{% endblock %}