{% extends 'base.html' %}

{% block title %}Dogwalker{% endblock %}

{% block content %}

<div class='row'>
    <div class='col-xs-8'>
        <p class='lead'>
            Dogwalker knows that you have fun taking care of pets.</p>
        <p>
            Working in the office isn't the best part of the job. Use this application to handle the basic administration tasks for your pet care business. And spend more time with your furry clients.
        </p>
        {% include '/helpers/call_to_action_business_details.html' %}
    </div>
    <div class='col-xs-4 bg-info rounded'>
        {% include '/forms/registration.html' %}
    </div>
</div>
{% endblock %}