{% extends 'base.html' %}

{% block title %}Dogwalker{% endblock %}

{% block content %}
    <!--IF USER IS NOT LOGGED IN SHOW LOGIN BUTTON-->
    <button type='button' id='btn_login'>
        <a href=''>Login</a>
    </button>
    <!--IF USER CLICKS LOGIN BUTTON SHOW LOGIN FORM-->
    <div id='login_form'>
        <form action='/login' method='POST'>
            <input type='text' name='user_name' placeholder='Username' aria-label='Username' required>
            <input type='password' name='password' placeholder='Password' aria-label='Password' required>
            <input type='submit' value='Log Me In!'>
        </form>
    </div>
    <!--REGISTRATION FORM IS SHOWN ONLY IF USER IS NOT LOGGED IN-->
    <div id='registration_form'>
        <form action='/register' method='POST'>
            <label>
                <input type='text' name='register_user_name' placeholder='Username' aria-label='Register Username' required><br>
                Usernames are not case sensitive.
            </label><br>
            <input type='text' name='register_first_name' placeholder='First Name' aria-label='First Name' required><br>
            <input type='text' name='register_last_name' placeholder='Last Name' aria-label='Last Name' required><br>
            <input type='email' name='register_email' placeholder='Email' aria-label='Email' required><br>
            <input type='password' name='register_password' placeholder='Password' aria-label='Password' required><br>
            <input type='text' name='register_business_name' placeholder='Business Name' aria-label='Business Name'><br>
            <input type='submit' value='Sign Up'><br>
        </form>
    </div>
    <p>
        Use this application to manage your business. Because walking is more fun than typing.
    </p>
{% endblock %}