{% extends 'base.html' %}

{% block title %}Reservations{% endblock %}

{% block content %}
<div class='page-header'>
    <h1>Reservations</h1>
</div>
<div class='row rowAlpha'>
    <div class='col-xs-8'>
        {% if reservations %}
        {% include '/forms/date_filter.html' %}
        <div class='table-responsive'>
            <table class='table table-bordered'>
                <tr>
                    <th>Pet</th>
                    <th>Service</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Cost</th>
                    <th>Note</th>
                </tr>
                {% for res in reservations %}
                    <tr>
                        <td>{{ res.animal.name }}</td>
                        <td>{{ res.service.description }}</td>
                        <td>{{ res.start_date}}</td>
                        <td>{{ res.end_date}}</td>
                        <td>{{ res.cost }}</td>
                        <td>{{ res.note }}</td>
                    </tr>                
                {% endfor %}
            </table>
        </div>
        {% else %}
            <p>No reservations have been created.</p>
        {% endif %}
    </div>
    <div class='col-xs-4'>
        {% if services %}
            {% include '/forms/reservation_add.html' %}
        {% else %}
            {% include '/helpers/call_to_action_business_details.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}
