{% extends 'base.html' %}

{% block title %}Reservations{% endblock %}

{% block content %}
<div class='row'>
    <div class='col-md-8'>

        <table class='table table-bordered'>
            <tr>
                <th>Pet</th>
                <th>Service</th>
                <th>Start</th>
                <th>End</th>
                <th>Cost</th>
                <th>Note</th>
            </tr>
            {% for res in reservations %}
                <tr>
                    <td>{{ res.animal.name }}</td>
                    <td>{{ res.service.description }}</td>
                    <td>{{ res.start_date}}</td>
                    <td>{{ res.end_date}}</td>
                    <td>{{ res.cost }}</td>
                    <td>{{ res.note }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
    <div class='col-md-4'>
        {% include '/forms/reservation_add.html' %}
    </div>
</div>
{% endblock %}
