{% extends 'base.html' %}

{% block title %}Schedule{% endblock %}

{% block content %}
    <h1>Schedule</h1>
    <h3>Plan your day. View the scheduled items on a map and timeline.</h3>
    <div id='schedule_date_filter'>{% include '/forms/date_filter.html' %}</div>
    <ul id='scheduled_address_list'>
        {% for animal in animals %}
            <li id='{{ animal.id }}'>
                {{ animal.people[0].street }}, 
                {{ animal.people[0].city }}, 
                {{ animal.people[0].state }},
                {{ animal.people[0].zipcode }}
            </li>
        {% endfor %}
    </ul>
    <button id='draw_map'>Click here to update directions</button>
    <div class="embed-responsive embed-responsive-16by9">
        <div id='map' class='embed-responsive-item'>
        </div>
    </div>
{% endblock %}
